<source>
  @type systemd
  tag values
  path /var/log/journal
  matches [{"_SYSTEMD_UNIT":"docker.service"},{"_SYSTEMD_UNIT": "nginx.service"}]
  read_from_head true
  <storage>
    @type local
    path /var/log/fluentd/fluentd-journald-kubelet-cursor.json
  </storage>
  @label @INPUT
</source>

<label @INPUT>
  <match values>
    @type rewrite_tag_filter
    remove_tag_prefix values
   <rule>
     key        CONTAINER_NAME
     pattern    /(node3)/
     tag        app.$1
   </rule>
   @label @OUTPUT
  </match>
</label>

<label @OUTPUT>
<match app.**>
 @type file
 path /var/log/fluentd/${tag}-%Y%m%d%H%M%S
  <buffer time,tag>
    timekey 10
    timekey_use_utc true
    timekey_wait 20
  </buffer>
</match>
</label>